.ever-category-slider {

    *, *:before, *:after {
        box-sizing: border-box;
        -webkit-font-smoothing: subpixel-antialiased;
    }

    .ever-slider-item{
        transition: border-color 0.6s, opacity 0.6s;
    }

    .ever-slider-image-wrapper {
        overflow: hidden;
    }
    .ever-slider-caption-title {
        font-size: 16px;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        font-family: inherit;
        color: inherit
    }
    .ever-slider-caption-subtitle {
        font-size: 14px;
        display: block;
        line-height: 1;
        font-family: inherit;
        color: inherit;
        margin: 0;
        padding: 10px 0 0 0;
        font-weight: lighter;
    }

    .ever-slider-desc {
        margin: 0;
        padding: 10px 0 0 0;
    }

    .ever-slider-caption-btn {
        background-color: $theme_color;
        border: 1px solid $theme_color;
        transition: background-color 0.3s;
        display: inline-block;
        line-height: 1.2;
        padding: 8px 25px;
        color: #fff;
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        left: auto;
        margin: 10px auto 0;
        opacity: 1;
        //position: relative;
        text-shadow: none;
        font-family: inherit;
        font-weight: 300;
        text-align: center;
    }

    &.single-slide {
        img {
            height: 100% !important;
            width: auto !important;
            margin: 0 auto;
        }
    }
}
