//Same height
.owl-carousel .owl-stage {
    display: flex;
}

.ever-slider {
    text-align: center;
    margin-top: 60px;
    visibility: hidden;
    min-height: 450px;
    //max-height: 450px;
    transition: opacity 1s ease;

    &.owl-loaded{
        visibility: visible !important;
        opacity: 1 !important;
    }
    //same height
    .ever-slider-item {
        height: 100%;
        border: 1px solid transparent;
        overflow: hidden;
    }


    .owl-stage {
        display: flex;
        flex-direction: row;
    }

    .owl-stage::after {
        display: none;
    }

    .owl-item {
        float: none;
    }

    .owl-item{
        overflow: hidden;
    }

    //navigation
    .owl-nav {
        position: absolute;
        top: -60px;
        right: 5px;
        margin-top: 0;
        button.owl-prev, button.owl-next{
            background: $theme_color;
            color: #fff;
            margin-right: 0;
            margin-left: 10px;
            padding: 4px 12px !important;
            border-radius: 0;
            font-size: 14px !important;
            transition:all 0.3s;
            &:focus,&:active{
                -webkit-tap-highlight-color: transparent;
                outline: none !important;
            }
            &:hover{
                -webkit-tap-highlight-color: transparent;
                outline: none !important;
                background: $theme_color;
                opacity: 0.6;
            }

        }
    }

    .owl-dots{
        margin-top: 12px;
        button.owl-dot{
            background: none !important;

            &:focus,&:active,&:hover,&.active{
                -webkit-tap-highlight-color: transparent;
                outline: none !important;
                background: $theme_color;
                opacity: 1;
                span{
                    background: $theme_color ;
                }
            }
        }
    }


    .ever-slider-caption {
        background: #ededed;
        padding: 20px 10px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

    }
}


//Utilities
.position-relative{
    position: relative !important;
}

