//Same height
.owl-carousel .owl-stage {
    display: flex;
}

.ever-slider {
    text-align: center;
    margin-top: 60px;

    //same height
    .ever-slider-item {
        height: 100%;
        border: 1px solid transparent;
        overflow: hidden;
    }


    .own-carousel.owl-carousel .owl-stage {
        display: flex;
        flex-direction: row;
    }

    .own-carousel.owl-carousel .owl-stage::after {
        display: none;
    }

    .own-carousel.owl-carousel .owl-item {
        float: none;
    }

    //navigation
    .owl-nav {
        position: absolute;
        top: -60px;
        right: 0;
        margin-top: 0;
        button.owl-prev, button.owl-next{
            background: $theme_color;
            color: #fff;
            margin-right: 0;
            margin-left: 10px;
            padding: 4px 12px !important;
            border-radius: 0;
            font-size: 14px !important;
            transition:all 0.3s;

            &:focus,&:active,&:hover{
                -webkit-tap-highlight-color: transparent;
                outline: none !important;
                background: $theme_color;
                opacity: 0.6;
            }
        }
    }

    .owl-dots{
        margin-top: 12px;
        button.owl-dot{
            background: none !important;

            &:focus,&:active,&:hover,&.active{
                -webkit-tap-highlight-color: transparent;
                outline: none !important;
                background: $theme_color;
                opacity: 1;
                span{
                    background: $theme_color ;
                }
            }
        }
    }


    .ever-slider-caption {
        background: #ededed;
        padding: 20px 10px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

