/*!
 * @since      1.0.0
 * @package    woocomerce
 * @subpackage pluginever-slider.scss
 * @author     PluginEver <support@pluginever.com>
 * @date         2/3/17 11:21 PM
 *
 */

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    & > div {
        position: relative;
    }
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    overflow: hidden;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        box-shadow: none !important;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slick Theme */

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    } @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    } @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

/*===========PLUGINEVER SLIDER ===========*/
/*
*
.pluginever-slider{
  .slick-slide{
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    img{
      max-width: 100%;
    }
  }

  .slick-prev,.slick-next {
    background-color: hsl(0, 86%, 69%);
    &:before{
      font-family: "FontAwesome";
      font-size: 20px;
      opacity: 0.75;
      text-align: center;
    }
  }
  .slick-prev{
    border-radius: 3px;
    height: 30px;
    text-shadow: none;
    width: 30px;
    margin-left:-10px;
    &:before{
      content: "\f104";
      padding-right: 3px;
    }
  }
 .slick-next {
   border-radius: 3px;
   height: 30px;
   text-shadow: none;
   width: 30px;
   margin-right:-10px;
    &:before{
      content: "\f105";
      padding-left: 4px;
    }
  }
}

.nav-left-top{
  .slick-prev{
    left: 10px;
    top: -15px;
  }
  .slick-next{
    left: 45px;
    top: -15px;
  }
}
*/
.plvr-slider {
    padding-top: 30px;
    img {
        max-width: 100%;
        box-shadow: none !important;
        border-radius: 0 !important;
    }
    .slick-slide {
        margin: 10px;
        position: relative;
    }
    .slick-dots {
        margin-bottom: -40px;
    }

    .slick-prev, .slick-next {
        background-color: #474747;
        border-radius: 4px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        color: #fff;
        &:before {
            color: #fff;
            font-family: "FontAwesome";
            font-size: 20px;
            opacity: 0.75;
            text-align: center;
            line-height: 30px;
        }
    }

    .slick-prev {
        left: -50px;
        &:before {
            content: "\f104";
            padding-right: 3px;
        }
    }
    .slick-next {
        &:before {
            content: "\f105";
            padding-left: 4px;
        }
        right: -50px;
    }

    &.nav-top-left {
        .slick-prev, .slick-next {
            top: 0;
            left: 10px;
        }
        .slick-next {
            left: 45px;
        }
    }
    &.nav-top-right {
        .slick-prev, .slick-next {
            top: 0;
            right: 10px;
        }
        .slick-prev {
            right: 45px;
            left: auto;
        }
    }

    .abs-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
    }

    /*CAPTION */
    .slider-caption {
        //font-family: 'Lato', "Open Sans", Arial;
        position: absolute;
        bottom: 0;
        text-align: center;
        text-transform: uppercase;
        left: 0;
        right: 0;
        color: #fff;
        padding: 20px 0 10px 0;
        background: rgba(00, 00, 00, 0.5);
        margin: 5px;
        .slider-caption-title {
            font-size: 14px;
            line-height: 1.2;
            margin: 0 0 5px;
            padding-bottom: 0.5em;
            font-family: inherit;
            color: inherit;
        }
        .slider-caption-sub-header {
            font-size: 18px;
            font-weight: normal;
            display: block;
            line-height: 1;
            font-family: inherit;
            color: inherit;
        }
        .slider-btn {
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 0;
            box-shadow: none;
            display: block;
            font-size: 14px;
            left: auto;
            margin: 10px auto;
            opacity: 1;
            padding: 5px 0;
            position: relative;
            right: auto;
            text-shadow: none;
            top: auto;
            width: 80%;
            font-family: inherit;
            color: inherit;
            font-weight: 300;
            text-align: center;
            &:hover, &:focus, &:active {
                text-decoration: none;
                color: inherit;
                outline: 0;
            }
        }
    }

    /* HAS BORDER */

    &.has-border {
        .slick-slide {
            border: 1px solid hsla(0, 0%, 0%, 0.15);
        }
    }

    /* HAS PADDING*/
    &.has-padding {
        .slick-slide {
            padding: 5px;
        }
    }

    &.has-solid-btn {
        .slick-prev, .slick-next, .slider-btn {
            border: 0;
            background-color: #ff5847;
            color: #ffffff;
        }
    }

}
