.slick-initialized{
  display: block !important;
}

.plvr-slider .slider-caption-title,.plvr-slider .slider-caption{
  margin: 0;
}
.slider-btn {
  background: transparent;
  overflow: hidden;
  text-align: center;
  span{
    white-space: nowrap;
    overflow: hidden;
  }
}


.plvr-category-slider{
  .slick-slide{
    img{
      width: 100%;
    }
  }
  .slider-caption-title{
    font-weight: 400;
  }
  .product-count{
    font-size: 12px !important;
    font-weight: 300 !important;
  }
  .slider-caption{
    padding: 20px 0 20px 0;
  }
  .slider-btn{
    margin-bottom: 0;
  }
  .slick-slide{
    padding: 0 !important;
  }
  .slider-caption{
    //margin: 0 !important;
  }
  &.no-content{
    .slider-caption{
      display: none;
    }
  }
  &.no-count{
    .product-count{
      display: none;
    }
  }
  &.no-btn{
    .slider-btn{
      display: none;
    }
    .slider-caption{

    }
  }
  &.no-name{
    .slider-caption-title{
      display: none;
    }
  }

  &.limit-height .slick-slide{
    max-height: 550px !important;
  }

  &.style-1{
    .slider-caption{
      position: relative;
      background: transparent;
      color: #222;
      font-family: 'Lato', "Open Sans", Arial;
      .slider-btn {
        border: 1px solid #222;
        color: #222;
        font-weight: lighter;
      }
    }
  }

  &.style-2{
    .slick-slide{
      overflow: hidden;

      &:hover{
        .slider-caption{
          bottom: 0 !important;
        }
      }
    }
    .slider-caption{
      position: relative;
      color: #222;
      background: #fff;
      font-family: 'Lato', "Open Sans", Arial;
      bottom: -63px;
      margin-top: -63px;
      margin-left: 0;
      margin-right: 0;
      top: auto;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      .slider-caption-sub-header{
        padding: 5px 0;
      }
      .slider-btn {
        border: 1px solid #222;
        color: #222;
        font-weight: lighter;
      }
    }
  }

  &.style-3{
    .slider-caption {
      position: relative;
      color: #222;
      margin-left: 0;
      margin-right: 0;
      background: #fff;
      .slider-btn {
        border: 1px solid #222;
        color: #222;
        font-weight: lighter;
        top: -60px;
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        transition: all 0.615s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      }
    }
    .slick-slide:hover{
      .slider-btn {
        opacity: 1;
      }
    }
  }
  &.style-4{
    .slick-slide{
      overflow: hidden;

      &:hover{
        .slider-caption{
          bottom: 0;
        }
      }
    }
    .slider-caption{
      position: absolute;
      top: calc(100% - 45px);
      left: 0;
      right: 0;
      margin: 0;
      bottom: auto;
      padding: 20px 0;
      font-size: 14px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      .slider-caption-sub-header{
        padding: 5px 0;
      }
      .slider-btn {
        border: 1px solid #fff;
        color: #fff;
        font-weight: lighter;
      }
    }

    .slick-slide{
      padding: 0 !important;
      &:hover{
        .slider-caption{
          top: calc(100% - 10.385em);
        }

      }
    }
  }
  //&.style-5{
  //  .slick-slide{
  //    overflow: hidden;
  //    transition: .5s ease;
  //    backface-visibility: hidden;
  //    opacity: 1;
  //    &:hover{
  //      .slider-caption{
  //        opacity: 1;
  //      }
  //    }
  //  }
  //  .slider-caption{
  //    transition: .5s ease;
  //    opacity: 0;
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    transform: translate(-50%, -50%);
  //    -ms-transform: translate(-50%, -50%);
  //    .slider-caption-sub-header{
  //      padding: 5px 0;
  //    }
  //    .slider-btn {
  //      border: 1px solid #222;
  //      color: #222;
  //      font-weight: lighter;
  //    }
  //  }
  //}



  &.style-5{
    .slick-slide{
      overflow: hidden;
      &:hover{
        .slider-caption{
          bottom: 0;
          top: auto;
        }
      }
    }
    .slider-caption{
      bottom: -150px;
      -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }
  }

  &.style-6{
    .slider-caption{
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }



  &.style-7{
    .slider-caption{
      background-color: rgba(255,255,255,0.6);
      color: #222;

    }
    .slider-caption-title{
      font-weight: 400;
    }
    .slider-btn{
      border:1px solid #222;
    }
    .slick-slide{
      width: 100%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;
      background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
      background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
    }
    .slider-caption{
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }
  }

  &.style-8{
    .slider-caption{
      background: transparent;
      top: 60%;
      bottom: auto;
      transform: translateY(-50%);
      transition: all .6s;
    }
    .slider-btn,.product-count{
      transition: all .6s;
      opacity: 0;
      -webkit-transform: translateY(15%) translateZ(0);
      transform: translateY(15%) translateZ(0);
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    .slider-caption-title{
      font-weight: 600;
    }
    .slick-slide:hover{
      .slider-btn,.product-count{
        opacity: 1;
      }
      .slider-caption{
        top: 50%;
      }
    }
  }

  &.hover-zoom-in .slick-slide{
    overflow: hidden;
  }
  &.hover-zoom-in .slick-slide img {
    transition: all 0.6s;
  }
  &.hover-zoom-in .slick-slide:hover{
    img{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }


  &.hover-zoom-out .slick-slide{
    overflow: hidden;
  }
  &.hover-zoom-out .slick-slide img {
    transition: all 0.6s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  &.hover-zoom-out .slick-slide:hover{
    img{
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }


  //slide

  &.hover-slide .slick-slide{
    overflow: hidden;
  }
  &.hover-slide .slick-slide img {
    margin-left: 30px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &.hover-slide .slick-slide:hover{
    img{
      margin-left: 0;
    }
  }

  //rotate
  &.hover-rotate .slick-slide{
    overflow: hidden;
  }
  &.hover-rotate .slick-slide img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &.hover-rotate .slick-slide:hover{
    img{
      -webkit-transform: rotate(5deg) scale(1.1);
      transform: rotate(5deg) scale(1.1);
    }
  }

  //Gray
  &.hover-gray-scale .slick-slide{
    overflow: hidden;
  }
  &.hover-gray-scale .slick-slide img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &.hover-gray-scale .slick-slide:hover{
    img{
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }


  //sepia
  &.hover-sepia .slick-slide{
    overflow: hidden;
  }
  &.hover-sepia .slick-slide img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &.hover-sepia .slick-slide:hover{
    img{
      -webkit-filter: sepia(0);
      filter: sepia(0);
    }
  }

  //opacity
  &.hover-opacity .slick-slide{
    overflow: hidden;
  }
  &.hover-opacity .slick-slide img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  &.hover-opacity .slick-slide:hover{
    img{
      opacity: .5;
    }
  }

  //flashing
  &.hover-flashing .slick-slide{
    overflow: hidden;
  }
  &.hover-flashing .slick-slide img {
  }
  &.hover-flashing .slick-slide:hover{
    img{
      opacity: 1;
      -webkit-animation: flash 1.5s;
      animation: flash 1.5s;
    }
  }


  //shine
  &.hover-shine .slick-slide{
    overflow: hidden;
    position: relative;
  }
  &.hover-shine .slick-slide::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }

  &.hover-shine .slick-slide:hover::before{
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }


  &.hover-gray-scale .slick-slide{
    overflow: hidden;
  }
  &.hover-gray-scale .slick-slide img {

  }
  &.hover-gray-scale .slick-slide:hover{
    img{

    }
  }

}


@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}