$theme_color: #b0589f;
.wc-category-slider {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 60px;

	.wc-slide {
		position: relative;
		width: 100%;
		height: calc(100% - 1px);
		border: 1px solid #ddd;
		display: flex;
		flex-flow: column;
		transition: all .4s ease;
		overflow: hidden;

		* {
			box-sizing: border-box;
			box-shadow: none !important;
			text-shadow: none !important;
		}

		&-image-wrapper {
			padding: 0;
			margin: 0;
			overflow: hidden;
			transition: all .3s ease;
			img {
				border-radius: 0;
				transition: all .3s;
				width: 100%;
				height: auto;
				&.default{
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

		}

		&-content-wrapper {
			padding: 20px 10px;
			margin: 0;
			color: #333;
			background-color: #ededed;
			text-align: center;
			flex: 1;
		}

		&-icon {
			display: block;
			color: inherit;
			padding-bottom: 5px;
		}

		&-link {
			color: inherit;
			line-height: 1;
			text-decoration: none;
			position: relative;
			width: 100%;
		}

		&-image {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
		}

		&-title {
			font-size: 16px;
			line-height: 1.2;
			margin: 0 0 10px 0;
			padding: 0;
			color: inherit;
			font-weight: 600;
		}

		&-product-count {
			font-size: 14px;
			display: block;
			line-height: 1;
			color: inherit;
			margin: 0;
			padding: 0 0 10px 0;
			font-weight: normal
		}

		&-child-items {
			margin: 0 0 10px 0;
			padding: 0;
			list-style: none;
		}
		&-child-item {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline-block;
			font-size: 12px;
			color: inherit;
			&:not(:last-child) {
				&:after {
					content: ",";
				}
			}

		}

		&-description {
			font-size: 14px;
			color: inherit;
			margin: 0;
			padding: 0 0 10px 0;
		}

		&-button {
			background: $theme_color;
			transition: background-color .3s;
			display: inline-block;
			line-height: 1.2;
			padding: 8px 25px;
			color: #fff;
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			left: auto;
			margin: 10px auto 0;
			opacity: 1;
			text-shadow: none;
			font-weight: 300;
			text-align: center;

			&:hover {
				-webkit-tap-highlight-color: transparent;
				outline: 0 !important;
				opacity: .8;
				color: inherit;
			}
		}
	}

	//only for default theme
	&.wc-category-default{
		.wc-slide {
			&-content-wrapper {
				display: flex;
				flex-flow: column;
				justify-content: flex-end;
			}
		}
	}

	.owl-stage {
		display: flex;
		flex-wrap: wrap;
	}

	//owl carousel navigation
	.owl-nav {
		position: absolute;
		top: -60px;
		right: 5px;
		margin-top: 0;
		button.owl-prev, button.owl-next {
			background: $theme_color;
			color: #fff;
			margin-right: 0;
			margin-left: 10px;
			padding: 4px 12px !important;
			border-radius: 0;
			font-size: 14px !important;
			transition: all 0.3s;
			&:focus, &:active {
				-webkit-tap-highlight-color: transparent;
				outline: none !important;
			}
			&:hover {
				-webkit-tap-highlight-color: transparent;
				outline: none !important;
				background: $theme_color;
				opacity: 0.6;
			}

		}
	}

	//owl carousel pagination
	.owl-dots {
		margin-top: 12px;
		button.owl-dot {
			background: none !important;

			&:focus, &:active, &:hover, &.active {
				-webkit-tap-highlight-color: transparent;
				outline: none !important;
				background: $theme_color;
				opacity: 1;
				span {
					background: $theme_color;
				}
			}
		}
	}

	.owl-stage, .owl-drag .owl-item {
		-ms-touch-action: auto;
		touch-action: auto;
	}

	//conditional show hide
	&.hide-image {
		.wc-slide {
			min-height: 250px;
			&:before, &:after {
				border: 0;
			}

			.wc-slide-content-wrapper {
				position: relative;
				right: 0;
				left: 0;
				background: 0 0;
				transform: translateY(-50%);
				transition: all .3s ease 0s;
				padding: 15px;
				display: flex;
				flex-flow: column;
				justify-content: center;
			}

			&:hover {
				&:before, &:after {
					border: 0;
				}
			}
		}

		&.wc-category-default, &.wc-category-basic{
			.wc-slide {
				.wc-slide-content-wrapper {
					transform: translateY(0);
				}
			}
		}
	}

	&.hide-border {
		.wc-slide {
			border: none !important;
		}
	}

	//image hover
	&.hover-zoom-in {
		.wc-slide:hover .wc-slide-image-wrapper {
			img {
				transform: scale(1.3);
			}
		}
	}

	&.hover-recolor {
		.wc-slide-image-wrapper {
			filter: grayscale(1);
		}
		.wc-slide:hover .wc-slide-image-wrapper {
			filter: grayscale(0);
		}
	}

	&.hover-opacity {
		.wc-slide:hover .wc-slide-image-wrapper {
			opacity: .6;
		}

	}



}

