.wcsn-pro-17.wcsn-slider {
  .wcsn-slider-content-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .wcsn-slider-content-top {
      position: absolute;
      left: 10px;
      top: 10px;
      text-align: left;
    }

    .wcsn-slider-content-bottom {
      position: absolute;
      right: 24px;
      bottom: 16px;
      text-align: right;
    }

    &:before,&:after{

    }

    &:before{

    }

    &::after {

    }

  }

  .wcsn-slider-description{
    display: none;
  }

  &:hover{



  }
}
