.wc-category-pro-5.wc-category-slider {
	position: relative;
    overflow: hidden;
	.wc-category-slider-image-wrapper{
    	position: relative;
    	line-height: 0;
    	.wc-category-slider-link{
    		display: inline-block;
    		&:after{
		    content: "";
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    // background: rgba(0,0,0,.4);
			background: transparent;


    		}
    	}
    	&:before,&:after{

    	}
    	&:before{

    	}

    	&:after{

    	}

	}
	.wc-category-slider-icon{
		transition: all .3s;
	}
	.wc-category-slider-title{
		// padding-bottom: 15px;

	}
	.wc-category-slider-product-count{

	}

	.wc-category-slider-button {
		visibility: hidden;
		height: 0;
		opacity: 0;
		// transition: all .3s ;
		transition: all .3s;

		margin: 0;
		overflow: hidden;
		// transition-timing-function: ease-in-out 1s;
		// padding:0;


	}
	.wc-category-slider-description{
		// transition:0.3s;
		// transition-timing-function: ease-in-out;
		// transition: all .9s ;
		// transition:height .5s ease-out 5s;
		transition: all .3s;


	}

	.wc-category-slider-child-items{
		// transition:0.3s;
		// transition-timing-function: ease-in-out;
		// transition: all .9s ;
		// transition:height .5s ease-out 1s;
		transition: all .3s;

	}

	.wc-category-slider-link{

	}
	.wc-category-slider-button{

		&:hover{ }
	}

	.wc-category-slider-content-wrapper {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	    background: transparent;
	    // transition: all .3s ease 0s;
	    transition: all .3s;
	}
	&:before,&:after {

	}
	&:before{

	}
	&:after{

	}
	&:hover{
		.wc-category-slider-image-wrapper{
			&:before,&:after{

			}
		}
		.wc-category-slider-icon{
			visibility:hidden;
			opacity: 0;
			height: 0;
			width: 0;
			overflow: hidden;
			// transition: all .3s ;
		}
		.wc-category-slider-content-wrapper{

		}

		.wc-category-slider-title{

		}
		.wc-category-slider-button {
			visibility: visible;
			height: auto;
			opacity: 1;
			transition: .3s ;
			padding: 8px 25px;
			margin: 10px auto 0;
			width: auto;
			height: auto;

		}
		.wc-category-slider-product-count{

		}

		.wc-category-slider-description{
			visibility:hidden;
			opacity: 0;
			height: 0;
			width: 0;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}

		.wc-category-slider-child-items{
			visibility:hidden;
			opacity: 0;
			height: 0;
			width: 0;
			overflow: hidden;
			margin: 0;

		}
		&:before,
		&:after {

		}

		&:before,&:after {

		}
	}
}
