.wc-category-pro-11.wc-category-slider {
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;

	.wc-category-slider-content-wrapper {
		padding: 2em;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: absolute;
		top: 0;

		&:before{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.5);
			background-size: 100% 100%;
			content: '';
			-webkit-transition: opacity .45s,-webkit-transform .45s;
			transition: opacity .45s,-webkit-transform .45s;
			transition: opacity .45s,transform .45s;
			transition: opacity .45s,transform .45s,-webkit-transform .45s;
			opacity: .7;
			-webkit-transform: rotate3d(0,0,1,90deg);
			transform: rotate3d(0,0,1,90deg);
			transform-origin: 6% 94%;
		}

		.wc-category-slider-button {
			-webkit-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
		}

	}
	.wc-category-slider-description{
		display: none;
	}

	&:hover{
		.wc-category-slider-button {
			text-align: right;
			float: right;
			position: relative;
			right: -35px;
			top: 6px;
			text-decoration: none;
			-webkit-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
		}
		.wc-category-slider-content-wrapper {
			&:before {
				opacity: .7;
				-webkit-transform: rotate3d(0,0,1,68deg);
				transform: rotate3d(0,0,1,68deg);
				-webkit-transform-origin: 6% 94%;
				-ms-transform-origin: 6% 94%;
				transform-origin: 6% 94%;
			}
		}

	}
}
