.wc-category-pro-4.wc-category-slider {
	max-width: 600px;
	width: 100% !important;
	overflow: hidden;
	display: flex;
	.wc-category-slider-image-wrapper{
		max-width: 50%;
		width: 100%;
	}
	.wc-category-slider-content-wrapper {
		max-width: 50%;
		width: 100%;
		background-color:transparent;
		text-align: left;
		padding:30px 20px;


	}
}
