.wc-category-pro-23.wc-category-slider {
	position: relative;
    overflow: hidden;
	.wc-category-slider-image-wrapper{
    	position: relative;
    	line-height: 0;
    	.wc-category-slider-link{
    		display: inline-block;
    		&:after{
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background: rgba(0,0,0,.4);
			    // background: transparent;
    		}
    	}
    	&:before,&:after{
    	}
    	&:before{

    	}
    	&:after{

    	}
	}
	.wc-category-before-hover{}
	.wc-category-after-hover {}
	.wc-category-slider-icon{
		transition: all .3s;
		font-size: 30px;
	}
	.wc-category-slider-description{
		transition: all .3s;
	}
	.wc-category-slider-child-items{
		transition: all .3s;
	}
	.wc-category-slider-button {
	    background: transparent;
	    border: 1px solid #ccc;
	}
	.wc-category-slider-content-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: transparent;
	}
	.wc-category-before-hover {
	    transform: translateY(-50%);
	    top: 50%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    text-align: left;
	    padding: 30px;
	}
	.wc-category-slider-title {
	    font-size: 30px;
	    text-transform: uppercase;
	}
	&:hover{
		.wc-category-after-hover {

		}
		.wc-category-before-hover {

		}
		.wc-category-slider-content-wrapper{

		}
	}
}
