.wcsn-pro-24.wcsn-slider {
	position: relative;
    overflow: hidden;
    max-width: 650px;
    width: 100% !important;
	.wcsn-slider-image-wrapper{
    	position: relative;
    	line-height: 0;
    	.wcsn-slider-link{
    		display: inline-block;
    		&:after{
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
    		}
    	}
    	&:before,&:after{

    	}
    	&:before{

    	}

    	&:after{

    	}

	}
	.wcsn-before-hover{
		transition: all .2s;
		left: 0;
		right: 0;
    	position: absolute;
    	z-index: 99;
    	bottom: 0;
    	padding: 20px 60px;
    	text-align: left;
	}

	.wcsn-slider-icon{
		font-size: 40px;
		transition: all .3s;
	}
	.wcsn-slider-title {
	    font-size: 50px;
	    line-height: 1.2;
	    margin: 0 0 10px 0;
	    padding: 0;
	    color: inherit;
	    font-weight: 600;
	}
	.wcsn-slider-product-count{
		font-size: 24px;
	}
	.wcsn-slider-description{
		transition: all .3s;
	}

	.wcsn-slider-child-items{
		transition: all .3s;
		display: none;
	}

	.wcsn-after-hover {
	    transition: all .3s;
	    opacity: 0;
	    visibility: hidden;
 		transform: rotateY(180deg) translateY(-50%);
		top: 50%;
		position: absolute;
		left: 0;
		right: 0;
	}

	.wcsn-slider-content-wrapper {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    background: transparent;
	    transition: all .3s;
	    bottom: 0;
	    &:before ,&:after{
			// position: absolute;
			// content: "";
			// background: rgba(0, 0, 0, .4);
			// z-index: 9;
			// top: 0;
			// bottom: 0;
			// transition:0.3s;
	    }

	    &:before{
	    	// left: 0;
	    	// right: 50%;
	    }
	    &:after{
	    	// right: 0;
	    	// left: 50%;
	    }
	}

	&:hover{

		.wcsn-before-hover {
			visibility: hidden;
			opacity: 0;
		}
		.wcsn-slider-image-wrapper{
	    	.wcsn-slider-link{
	    		&:after{
				    background: transparent;
	    		}
	    	}
		}
		.wcsn-after-hover{
			opacity: 1;
			visibility: visible;
 			transform: rotateY(0) translateY(-50%);
		}
		.wcsn-slider-content-wrapper{
			transform: translateY(0%);
	    	transition: all .3s;
	    	top: 0;
	    	bottom: 0;
	    	background: rgba(0,0,0,.5);
	    	 &:before{
		    	right: calc(50% - 56px);
		    }
		    &:after{
		    	left: calc(50% - 56px);
		    }
		}
	}
}
