.wc-category-pro-8.wc-category-slider {
	position: relative;
    overflow: hidden;
	.wc-category-slider-image-wrapper{
    	position: relative;
    	line-height: 0;

    	.wc-category-slider-link{
    		display: inline-block;
    		&:after{
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    // background: rgba(0,0,0,.4);
			    background: transparent;
    		}
    	}

    	&:before,&:after{

    	}
    	&:before{

    	}

    	&:after{

    	}

	}
	.wc-category-before-hover{
		transform: translateY(-50%);
		transition: all .2s;
		top: 50%;
    	position: absolute;
	}
	.wc-category-after-hover {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: auto;
	    bottom: 0;
	    transform: translateY(-55%);
	    opacity: 0;
	    visibility: hidden;
		transition: all .6s;
	}
	.wc-category-slider-icon{
		transition: all .3s;
	}

	.wc-category-slider-description{
		transition: all .3s;
	}

	.wc-category-slider-child-items{
		transition: all .3s;

	}

	.wc-category-slider-content-wrapper {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    background: transparent;
	    transition: all .3s;
	    bottom: 0;
	}

	&:hover{
		.wc-category-after-hover {
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: auto;
		    bottom: 0;
		    transform: translateY(-100%);
		    opacity: 1;
		    visibility: visible;
		}
		.wc-category-before-hover {
			transform: translateY(-70%);
			opacity: 0;
			visibility: hidden;
		}
		.wc-category-slider-content-wrapper{
			transform: translateY(0%);
	    	transition: all .3s;
	    	top: 0;
	    	bottom: 0;
		}


	}
}
