.wc-category-pro-25.wc-category-slider {
	position: relative;
    overflow: hidden;
	.wc-category-slider-image-wrapper{
    	position: relative;
    	line-height: 0;
    	.wc-category-slider-link{
    		display: inline-block;
    		&:after{
			    content: "";
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    background: rgba(0,0,0,.4);
			    // background: transparent;
    		}
    	}
    	&:before,&:after{
    	}
    	&:before{

    	}
    	&:after{

    	}
	}
	.wc-category-before-hover{}
	.wc-category-after-hover {}
	.wc-category-slider-icon{
		transition: all .3s;
		font-size: 30px;
		transform:translateX(-200px) rotate(-180deg);
	}
	.wc-category-slider-child-items,
	.wc-category-slider-product-count,
	.wc-category-slider-description,
	.wc-category-slider-title{
		transition: all .3s;
		transform:translateX(-200%);
	}
	.wc-category-slider-button{
		transition: all .3s;
		transform:translateX(50%);
	}
	.wc-category-slider-description{
		transition: all .3s;
	}
	.wc-category-slider-child-items{
		transition: all .3s;
	}
	.wc-category-slider-button {
	    background: transparent;
	    border: 1px solid #ccc;
	}
	.wc-category-slider-content-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: transparent;
	}
	.wc-category-before-hover {
	    transform: translateY(-50%);
	    top: 50%;
	    position: absolute;
	    left: 0;
	    right: 0;
	    text-align: left;
	    padding: 30px;
	}
	.wc-category-slider-title {
	    font-size: 30px;
	    text-transform: uppercase;
	}
	&:hover{

		.wc-category-slider-icon{
			transform:translateX(0) rotate(-0deg);
			// transition-delay: .1s;
		}
		.wc-category-slider-title{
			transform:translateX(0) ;
			transition-delay: .1s;
		}
		.wc-category-slider-product-count{
			transform:translateX(0) ;
			transition-delay: .2s;
		}
		.wc-category-slider-child-items{
			transform:translateX(0) ;
			transition-delay: .3s;
		}
		.wc-category-slider-button,
		.wc-category-slider-description{
			transform:translateX(0) ;
			transition-delay: .4s;
		}
		.wc-category-slider-button{
			transform:translateY(0);
			// opacity: 1;
			// visibility: visible;
			transition-delay: .5s;

		}
		.wc-category-after-hover {

		}
		.wc-category-before-hover {

		}
		.wc-category-slider-content-wrapper{

		}
	}
}
