.wc-category-pro-18.wc-category-slider {

	.wc-category-slider-product-count {
		position: absolute;
		color: #fff;
		font-size: 10px;
		line-height: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		font-style: normal;
		background-color: #fd5a27;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(45deg);
		top: 11px;
		right: -29px;
		text-align: center;
		padding: 6px 24px;
		width: 116px;
		z-index: 2;
		span {
			font-size: 20px;
		}
	}
	.wc-category-slider-content-wrapper {
		background: linear-gradient( rgba(0, 0, 0, 0), #111 140%);
		color: #ffffff;
		position: absolute;
		bottom: -58px;
		width: 100%;
		-webkit-transition: all .3s;
		transition: all .3s;
		padding: 15px 10px;
	}

	.wc-category-slider-description{
		display: none;
	}

	&:hover{
		.wc-category-slider-content-wrapper {
			bottom: 0px;
		}

	}
}



