.wc-category-pro-14.wc-category-slider {
	.wc-category-slider-content-wrapper {
		position: absolute;
		width: 100%;

		.wc-category-slider-title {
			margin-bottom: 6px;
		}
		.wc-category-slider-icon {
			bottom: 0px;
			position: relative;
			font-size: 26px;
		}
		.wc-category-slider-header, .wc-category-slider-footer {
			position: absolute;
			-webkit-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
			width: 100%;
			left: 0;
		}
		.wc-category-slider-header {
			bottom: 40px;
			padding: 12px 10px 4px;
		}

		.wc-category-slider-footer {
			bottom: -176px;
			padding: 20px 10px;
		}

	}

	&:hover{
		.wc-category-slider-footer {
			bottom: 40px;
		}
		.wc-category-slider-header {
			bottom: -40px;
		}

	}
}
