.wc-category-pro-26.wc-category-slider {
	.wc-category-slider-content-wrapper {
		position: absolute;
		background: transparent;
		right: 0;
		bottom: 0;
		top: 0;
		left: 0;
		margin: auto;

		&:before,&:after{
			position: absolute;
			content: '';
			opacity: 0;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
			transition:0.3s;
			opacity: 0;
		}
		&:before{
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
		}
		&::after {
			border-right: 1px solid #fff;;
			border-left: 1px solid #fff;
		}

	}
	.wc-category-slider-description{
		display: none;
	}
	.wc-category-before-hover {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	    z-index: 9;
	}
	&:hover{
		.wc-category-slider-content-wrapper:before,.wc-category-slider-content-wrapper:after{
			opacity: 1;
			border-color: red;
			// -webkit-transform: scale(1);
			// transform: scale(1);
		}

	}
}
