.wcsn-pro-15.wcsn-slider {
	.wcsn-slider-content-wrapper {
		padding: 0;

		.wcsn-slider-header, .wcsn-slider-footer {
			-webkit-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
			width: 100%;
			height: 50%;
			left: 0;
		}
		.wcsn-slider-header {
			position: absolute;
			top: -50%;
			padding: 20px 10px 10px;
		}
		.wcsn-slider-footer {
			position: absolute;
			bottom: -54%;
			padding: 10px 10px 20px;
		}

	}

	&:hover{
		.wcsn-slider-header {
			top: 0;
		}

		.wcsn-slider-footer {
			bottom: 0;
		}
		.content-header {
			transform: translate(0%, 30%);
		}
		.content-footer {
			transform: translate(0%,-18%);
		}

	}
}
