.wc-category-pro-13.wc-category-slider {
	.wc-category-slider-content-wrapper {
		left: 0;
		position: absolute;
		top: 50%;
		opacity: 0;
		-webkit-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
		width: 100%;
		left: 50%;
		transform: translate(-50%, -50%) !important;

		.wc-category-slider-title {
			font-size: 22px;
		}
		.wc-category-slider-product-count {
			font-size: 18px;
		}
		.wc-category-slider-child-item {
			font-size: 14px;
		}
		.wc-category-slider-description {
			font-size: 16px;
		}

		.wc-category-slider-content {
			position: relative;
			text-align: center;
		}

	}
	.wc-category-slider-description{
		display: none;
	}
	.wc-category-slider-image-wrapper {
		transition: all 0.4s ease 0s;
		left: 0;
		top: 0;
		width: 100%;
	}

	&:hover{
		.wc-category-slider-image-wrapper {
			transform: scale(0.9);
			opacity: 0.4;
			z-index: 9;
		}
		.wc-category-slider-content-wrapper {
			opacity: 1;
			z-index: 10;
			transform: scale(0.9);
			padding: 8px;
		}

	}
}
