.wc-category-slider.wc-category-basic{
	.wc-slide {
		display: flex;
		.wc-slide-image-wrapper {
			height: 100%;
			position: absolute;
		}
		.wc-slide-content-wrapper {
			position: relative;
			background: rgba(238,238,238,.79);
			width: 100%;
			flex-flow: column;
			margin-top: auto;
		}
	}
}
