.ever-slider {
    .ever-slider-caption-btn {
        //transition: all 0.3s;
        &:focus, &:hover {
            -webkit-tap-highlight-color: transparent;
            outline: none !important;
            opacity: 0.8;
        }
    }

    &.border {

        .ever-slider-item {
            border: 1px solid rgba(0, 0, 0, .15);
        }
    }

    //hover
    &.hover-zoom-in{
        .ever-slider-image-wrapper{
            transition: all 0.3s;
            position: relative;
            &::before{
                content:"";
                position:absolute; top:0;right:0;bottom:0;left:0;
                background:inherit;
                transition:inherit;
            }
        }

        .ever-slider-item{
            &:hover{
                .ever-slider-image-wrapper::before{
                    transform: scale(1.2);
                }
            }
        }
    }
}
