.ever-slider {
    &.theme-free {
        .ever-slider-caption {
            position: absolute;
            width: 100%;
            bottom: 0;
            color: #fff;
            background: rgba(00, 00, 00, 0.5);
        }

        .ever-slider-caption-btn {
            border-color: #fff;
            color: #fff;
        }

    }
}
